:root {
  --color: #ffffff;
  --color-num: #ccccccd8;
  --color-type: #cacaca4f;
  --color-orange: #ff5733;
  --color-grass: #7bc693 ;
  --color-poison: #9373a1;
  --color-fire: #c25741;
  --color-flying: #81b9ef;
  --color-water: #80bfdb;
  --color-bug: #899e50;
  --color-normal: #9c9c9c;
  --color-electric: #c6bc57;
  --color-ground: #8e654a;
  --color-fairy: #bd91b9;
  --color-fighting: #ce8c45;
  --color-psychic: #ac4866;
  --color-rock: #a09a79;
  --color-steel: #7d96a0;
  --color-ice: #5ddfff;
  --color-ghost: #6a336a;
  --color-dragon: #5061e1;
  --color-dark: #50413f;
}

body {
  margin: 0;
  padding: 0;
}

ol {
  list-style: none;
  padding: 0;
}

.pokemon-card {
  padding: 5px;
  border-radius: 10px;
  width: 200px;
  height: 180px;
  margin: 10px 0;
  color: #fff;
}
.pokemon-card--grass {
  background-color: var(--color-grass);
}
.pokemon-card--poison {
  background-color: var(--color-poison);
}
.pokemon-card--fire {
  background-color: var(--color-fire);
}
.pokemon-card--flying {
  background-color: var(--color-flying);
}
.pokemon-card--water {
  background-color: var(--color-water);
}
.pokemon-card--bug {
  background-color: var(--color-bug);
}
.pokemon-card--normal {
  background-color: var(--color-normal);
}
.pokemon-card--electric {
  background-color: var(--color-electric);
}
.pokemon-card--ground {
  background-color: var(--color-ground);
}
.pokemon-card--fairy {
  background-color: var(--color-fairy);
}
.pokemon-card--fighting {
  background-color: var(--color-fighting);
}
.pokemon-card--psychic {
  background-color: var(--color-psychic);
}
.pokemon-card--rock {
  background-color: var(--color-rock);
}
.pokemon-card--steel {
  background-color: var(--color-steel);
}
.pokemon-card--ice {
  background-color: var(--color-ice);
}
.pokemon-card--ghost {
  background-color: var(--color-ghost);
}
.pokemon-card--dragon {
  background-color: var(--color-dragon);
}
.pokemon-card--dark {
  background-color: var(--color-dark);
}

.card-header {
  display: flex;
  justify-content: space-between;
  height: 20%;
}

.card-num {
  color: var(--color-num);
}

.card-body {
  display: flex;
  justify-content: space-between;
  height: 80%;
  background-image: url("/pokedex/assets/images/pokeball.png");
}

.card-types {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.card-type {
  padding: 3px 10px;
  margin: 2px 0;
  text-align: center;
  border-radius: 30px;
  background-color: var(--color-type);
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-card {
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  color: #fff;
}
.type-card--grass {
  background-color: var(--color-grass);
}
.type-card--poison {
  background-color: var(--color-poison);
}
.type-card--fire {
  background-color: var(--color-fire);
}
.type-card--flying {
  background-color: var(--color-flying);
}
.type-card--water {
  background-color: var(--color-water);
}
.type-card--bug {
  background-color: var(--color-bug);
}
.type-card--normal {
  background-color: var(--color-normal);
}
.type-card--electric {
  background-color: var(--color-electric);
}
.type-card--ground {
  background-color: var(--color-ground);
}
.type-card--fairy {
  background-color: var(--color-fairy);
}
.type-card--fighting {
  background-color: var(--color-fighting);
}
.type-card--psychic {
  background-color: var(--color-psychic);
}
.type-card--rock {
  background-color: var(--color-rock);
}
.type-card--steel {
  background-color: var(--color-steel);
}
.type-card--ice {
  background-color: var(--color-ice);
}
.type-card--ghost {
  background-color: var(--color-ghost);
}
.type-card--dragon {
  background-color: var(--color-dragon);
}
.type-card--dark {
  background-color: var(--color-dark);
}
.type-card:hover {
  animation: bounce 0.5s linear;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=styles.css.map */