:root{
    --color: #a5a4a4;
    --color-light: #909090;
    --color-dark: #252525;
    --color-very-dark: #1d1d1d;
    --color-ultra-dark: #101010;
    --color-blue: #57ace6;
    --color-blue-dark: #2e76a7;
    --color-orange: rgb(255, 105, 36);
}